[Desktop Entry]
Type=Application
Name=Yazi
GenericName=Terminal File Manager
Comment=Browse files with Yazi
Exec=alacritty -e yazi %u
Terminal=false
MimeType=inode/directory;
Categories=System;FileManager;
